/* .header-bg-img
{
    background-image: url("./gym-backgrund-img/the-best-weightlifting-accessories-for-beginners-in-2022-362535.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
} */
html
{
    scroll-behavior: smooth;
}
.navbar-brand
{
    animation-name: navbar-brand;
            animation-duration: 1s;
   animation-iteration-count: infinite;
}
@keyframes navbar-brand {
    20%,50%,80%,to
    {
        transform: translateY(0);
    }
    40%
    {
        transform: translateY(-10px);
    }
    70%
    {
        transform: translateY(-11px);
    }
    90%
    {
        transform: translateY(-2px);
    }

} 

.navbar-light
{
    background-color: #040404 !important;
}
.navbar-light .navbar-toggler-icon 
    {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    .navbar-light .navbar-toggler
    {
        border: 1px solid white;
    }
#navbarSupportedContent .nav-link
{
    color: white;
    padding: 7px;
    font-size: 15px;
    border-bottom: 2px solid transparent;
}
#navbarSupportedContent .nav-link:hover
{
    color: red !important;
   border-bottom: 2px solid;
  
}
.header-icons a
{
    color: white;
    padding: 7px;
    font-size: 15px;
    border-bottom: 2px solid transparent;
}
.header-icons a:hover
{
    color: red !important;
    border-bottom: 2px solid; 
}
.card-img-overlay 
{
text-shadow: 7px 6px 8px gray;

}
/* .card-img-overlay .card-text
{
text-shadow: 7px 6px 8px gray;
} */
 #scrollbar
{
    background-color: red;
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 50px;
    width: 50px;
    z-index: 1000;
    display: none;
    place-items: center;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    animation-name: bounce;
            animation-duration: 1s;
   animation-iteration-count: infinite;
}
@keyframes bounce {
    20%,50%,80%,to
    {
        transform: translateY(0);
    }
    40%
    {
        transform: translateY(-30px);
    }
    70%
    {
        transform: translateY(-15px);
    }
    90%
    {
        transform: translateY(-4px);
    }

}
#scrollbar-1
{
    display: block;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    background-color:#040404;
    border-radius: 30px;
    display: grid;
    place-items: center;
    font-size: 25px;
    color: #fff;
}
.container .col .card
{
  background-color: whitesmoke;
  color: white;
  box-shadow: 5px 5px 2px black;
  border-radius: 20px;
}
.container .col .card img
{
    border-radius: 20px;
}
.container .col .card:hover
{
  transform: scale(1.1);
}
.container .col .card .card-body
{
    color: #040404;
}
.counter
  {
    background-image: url(./gym-backgrund-img/12345.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container1
  {
    width: 28vmin;
    height: 25vmin;
    border: 1px solid black;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    font-size:16px;
    /* border-radius: 0.5em; */
    /* border-bottom: -4px; */
    border-bottom: 5px solid red;
    margin-left: 50px; 
   }
  span.purecounter
  {
    color: white;
    display: grid;
    place-items: center;
    /* font-weight: 600; */
    /* font-size: 3em; */
  }
  span.purecounter1
  {
    color: white;
    display: grid;
    place-items: center;
    /* font-weight: 600; */
    /* font-size: 3em; */
  }
  span.purecounter2
  {
    color: white;
    display: grid;
    place-items: center;
    /* font-weight: 600; */
    /* font-size: 3em; */
  }
  span.purecounter3
  {
    color: white;
    display: grid;
    place-items: center;
    /* font-weight: 600; */
    /* font-size: 3em; */
  }
  span.text
  {
    color: white;
    /* font-size: 1em; */
    text-align: center;
    /* pad: 0.7em 0; */
    /* font-weight: 400; */
    /* line-height: 0; */
    /* font-weight: 800; */
  }

.footer
{
    background-color: black;
    /* margin-top: 50%; */
}
.social
{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.social .fm
{
font-size: 20px;
display: inline-block;
border: 1px solid beige;
/* width: 25px; */
padding: 10px;
border-radius: 8px;
border-style: none;
text-decoration: none;
color: white;
}
.social .fm:hover
{
    color:red;

}
.footer ul
{
list-style: none;
text-align: center;
padding-bottom: 30px;
}
.footer ul li
{
    display: inline-block;
    padding: 0px 20px;
}
.footer ul li a
{
    text-decoration: none;
    color: white;
}
.footer ul li a:hover
{
    color:red;
}
.copy-right
{
    text-align: center;
    padding-bottom: 40px;
    color: white;
}
